##### The purpose of this script is to merge data from the orders, reviews and payments files, and perform other data cleaning and derivation of variables to prepare the dataset for further analysis.
# Table of Contents

### 1. Importing libraries

### 2. Importing data

### 3. Exploratory analysis

### 4. Exporting data

## 1. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 2. Importing data

In [2]:
# Create shortcut for importing files

path = r'C:\Users\radav\OneDrive\Documents\Career Foundry\Data Analytics\Immersion\Achievement 6 Advanced Analytics and Dashboard Design\Olist'

In [3]:
# Import Olist dataset files

df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col=[0])
df_reviews = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_reviews_checked.csv'), index_col=[0])
df_payments = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_payments_checked.csv'), index_col=[0])
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_checked.csv'), index_col=[0])
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=[0])
df_items = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_items_checked.csv'), index_col=[0])
df_sellers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'sellers_checked.csv'), index_col=[0])

## 3. Exploratory analysis

### i) Check relationship between order items and order form of payment

In [4]:
# Identify examples of orders with multiple payment types

df_payments[df_payments['payment_sequential']==2]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
25,5cfd514482e22bc992e7693f0e3e8df7,2,voucher,1,45.17
75,3689194c14ad4e2e7361ebd1df0e77b0,2,voucher,1,57.53
102,21b8b46679ea6482cbf911d960490048,2,voucher,1,43.12
139,82ffe097d8ddbf319a523b9bbe7725d5,2,voucher,1,30.00
164,487c1451b8fd7347d0e80e5aca887e91,2,voucher,1,30.00
...,...,...,...,...,...
103499,08fa8b49ff198d1332df4668087150ed,2,voucher,1,50.00
103500,71853944ebfe6bd5f5de0302cba14354,2,voucher,1,29.18
103520,e2da042c42ce790c81ef3a9f666a92b6,2,voucher,1,67.33
103732,f0a5b7c94819c69d12a1c0458ec74756,2,voucher,1,80.40
103750,d0bff47153ef056bb4f884a2ec2f0691,2,voucher,1,41.89

In [5]:
# Check details of an order with mutiple payment types

df_orders[df_orders['order_id']=='5cfd514482e22bc992e7693f0e3e8df7']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
55502,5cfd514482e22bc992e7693f0e3e8df7,519a8af813fe88578029697625439e8b,delivered,2017-10-13 17:19:17,2017-10-13 18:06:56,2017-10-16 19:42:28,2017-10-19 20:41:43,2017-11-06 00:00:00

In [6]:
df_payments[df_payments['order_id']=='5cfd514482e22bc992e7693f0e3e8df7']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
25,5cfd514482e22bc992e7693f0e3e8df7,2,voucher,1,45.17
57742,5cfd514482e22bc992e7693f0e3e8df7,1,credit_card,4,665.41

In [7]:
df_items[df_items['order_id']=='5cfd514482e22bc992e7693f0e3e8df7']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
40830,5cfd514482e22bc992e7693f0e3e8df7,1,38faaf77a4cd4dfb50ea8512e66285b0,7e93a43ef30c4f03f38b393420bc753a,2017-10-19 19:06:56,689.99,20.59

#### Form of payment is tied to the order total and not directly linked to specific products, therefore data analysis of payments should be conducted at an orders level.

### ii) Merge data from orders, reviews and payments files

In [8]:
# Add 'review_score' from order_reviews file to orders file

df_orders_reviews_merged = pd.merge(df_orders, df_reviews[['order_id', 'review_score']], on='order_id', how='left')

In [9]:
# Check output

df_orders_reviews_merged.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,4.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,4.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,5.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,5.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,5.0

In [10]:
df_orders_reviews_merged.shape

(99992, 9)

In [11]:
# Count missing values

df_orders_reviews_merged.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 161
order_delivered_carrier_date     1793
order_delivered_customer_date    2987
order_estimated_delivery_date       0
review_score                      768
dtype: int64

In [12]:
# Add 'payment_value' from order_payments file to orders file

df_merged = df_orders_reviews_merged.merge(df_payments[['order_id', 'payment_value']], on = 'order_id', how='left').groupby(['order_id', 
                                                                                                                             'customer_id',
                                                                                                                             'order_status',
                                                                                                                             'order_purchase_timestamp',
                                                                                                                             'order_approved_at',
                                                                                                                             'order_delivered_carrier_date',
                                                                                                                             'order_delivered_customer_date',
                                                                                                                             'order_estimated_delivery_date',
                                                                                                                             'review_score'])['payment_value'].sum().reset_index()

In [13]:
# Check output

df_merged.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,5.0,72.19
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,4.0,259.83
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,5.0,216.87
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,4.0,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,5.0,218.04

In [14]:
df_merged.shape

(96004, 10)

In [15]:
# Re-check missing values

df_merged.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
review_score                     0
payment_value                    0
dtype: int64

#### Missing values have been removed as we only want to list orders with complete delivery records for purposes of the analysis.

In [16]:
# Check delivery status

df_merged['order_status'].value_counts()

order_status
delivered    95998
canceled         6
Name: count, dtype: int64

In [17]:
# Drop canceled orders

df_merged = df_merged.drop(df_merged[df_merged['order_status'] == "canceled"].index)

In [18]:
# Re-check shape

df_merged.reset_index(drop=True)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,5.0,72.19
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,4.0,259.83
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,5.0,216.87
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,4.0,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,5.0,218.04
...,...,...,...,...,...,...,...,...,...,...
95993,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00,5.0,343.40
95994,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00,5.0,386.53
95995,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00,5.0,116.85
95996,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00,5.0,64.71
95997,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00,5.0,55.79

In [19]:
# Add unique customer id's from customers file to merged file to enable some custmoer-level analysis

df_new = pd.merge(df_merged, df_customers[['customer_id', 'customer_unique_id']], on='customer_id', how='left')

In [20]:
# Check revised output 

df_new.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score,payment_value,customer_unique_id
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,5.0,72.19,871766c5855e863f6eccc05f988b23cb
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,4.0,259.83,eb28e67c4c0b83846050ddfb8a35d051
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,5.0,216.87,3818d81c6709e39d06b2738a8d3a2474
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,4.0,25.78,af861d436cfc08b2c2ddefd0ba074622
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,5.0,218.04,64b576fb70d441e8f1b2d7d446e483c5

In [21]:
# Move customer unique id column

col_list = df_new.columns.tolist()
col_list.insert(2, col_list.pop(col_list.index('customer_unique_id')))
df_new = df_new.reindex(columns=col_list)

In [22]:
# Check revised output 

df_new.head()

,order_id,customer_id,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,5.0,72.19
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,eb28e67c4c0b83846050ddfb8a35d051,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,4.0,259.83
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,3818d81c6709e39d06b2738a8d3a2474,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,5.0,216.87
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,af861d436cfc08b2c2ddefd0ba074622,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,4.0,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,64b576fb70d441e8f1b2d7d446e483c5,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,5.0,218.04

In [23]:
df_new.shape

(95998, 11)

### iii) Convert date format and derive new variables with differences between key dates per record

In [24]:
# Convert the date columns to date format

columns = ['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date']
df_new[columns] = df_new[columns].apply(pd.to_datetime)

In [25]:
df_new.dtypes

order_id                                 object
customer_id                              object
customer_unique_id                       object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
review_score                            float64
payment_value                           float64
dtype: object

In [26]:
# Create a new column to identify total delivery days from time of order to customer delivery

df_new['act_delivery_days'] = (df_new['order_delivered_customer_date'] - df_new['order_purchase_timestamp']).dt.days

In [27]:
# Create a new column to identify difference between dates from time or order to orders delivered to carrier 

df_new['seller_delivery_days'] = (df_new['order_delivered_carrier_date'] - df_new['order_purchase_timestamp']).dt.days

In [28]:
# Create a new column to identify difference between dates from orders delivered to carrier to orders delivered to customer

df_new['carrier_delivery_days'] = (df_new['order_delivered_customer_date'] - df_new['order_delivered_carrier_date']).dt.days

In [29]:
# Create a new column to identify difference between actual and estimated customer delivery date

df_new['est_less_act_delivery_days'] = (df_new['order_estimated_delivery_date'] - df_new['order_delivered_customer_date']).dt.days

In [30]:
df_new.head()

,order_id,customer_id,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score,payment_value,act_delivery_days,seller_delivery_days,carrier_delivery_days,est_less_act_delivery_days
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,5.0,72.19,7,6,1,8
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,eb28e67c4c0b83846050ddfb8a35d051,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,4.0,259.83,16,8,8,2
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,3818d81c6709e39d06b2738a8d3a2474,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,5.0,216.87,7,1,6,13
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,af861d436cfc08b2c2ddefd0ba074622,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20,4.0,25.78,6,2,4,5
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,64b576fb70d441e8f1b2d7d446e483c5,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,5.0,218.04,25,11,13,15

In [31]:
df_new.shape

(95998, 15)

### iv) Create a new late delivery flag

In [32]:
# Create a late delivery flag column using 'est_less_act_delivery_days' column and the loc function

df_new.loc[df_new['est_less_act_delivery_days'] < 0, 'late_delivery'] = '1'
df_new.loc[df_new['est_less_act_delivery_days'] >= 0, 'late_delivery'] = '0'

In [33]:
# Check output

df_new.head()

,order_id,customer_id,customer_unique_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_score,payment_value,act_delivery_days,seller_delivery_days,carrier_delivery_days,est_less_act_delivery_days,late_delivery
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,5.0,72.19,7,6,1,8,0
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,eb28e67c4c0b83846050ddfb8a35d051,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,4.0,259.83,16,8,8,2,0
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,3818d81c6709e39d06b2738a8d3a2474,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,5.0,216.87,7,1,6,13,0
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,af861d436cfc08b2c2ddefd0ba074622,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20,4.0,25.78,6,2,4,5,0
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,64b576fb70d441e8f1b2d7d446e483c5,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,5.0,218.04,25,11,13,15,0

In [34]:
# Check value counts of on time and late deliveries

df_new['late_delivery'].value_counts()

late_delivery
0    88318
1     7680
Name: count, dtype: int64

#### The merged file will enable data analysis of 1) the value of total delivered orders, 2) product fulfilment performance, 3) unique customer orders.

## 4. Exporting data

In [35]:
# Export merged file
df_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_delivered.csv'))